{% extends "layout.html" %}

{% from "macros/blog.html" import render_blog_post %}

{% block title %}{{ this.title }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ this.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ this|url(external=True) }}">
  {% with thumbnail=this.attachments.filter(F._id.startswith("thumbnail")).first() %}
    {% if thumbnail %}
      <meta property="og:image" content="{{ thumbnail|url(external=True) }}">
    {% endif %}
  {% endwith %}
{% endblock %}

{% block body %}
  {{ render_blog_post(this) }}
{% endblock %}
